html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  /* height: 100%; */
  background-color: rgb(24, 24, 24);
}

/* *: current solution for overriding prefixed paddingRight in select Component is this
   TODO: replace it with a better alternative if there is one.
*/
#networks-menu-select {
  padding-right: 0;
}

#sort-validators-by-select {
  padding-right: 0;
}

#sort-validators-by-select {
  padding-right: 0;
}

#sort-direction-select {
  padding-right: 0;
}
